<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../styles/styleLVL.css">
    <title>Level 1</title>
</head>
<body>
    <div class="mainLVL1">
        <div class="childLVL1">
            <div class="grid">
                <div>
                    <h2>Уровень 1</h2>
                    <h3 class="player">Игрок: <span id="namePlayer"></span></h3>
                    <h3 class="score">Счёт: <span id="score"></span></h3>
                    <h3 class="heals">Жизни: <span id="heals"></span></h3>
                </div>
                <div class="right-column">
                    <canvas id="canvasLVL1" class="canvasLVL1"></canvas>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="module" src="../scripts/lvl1Page.js"></script>
</html>